.App {
  text-align: center;
}

header{
  width: 100%;
}

h1,h2{
  text-align:center;
}

.main-nav{
  margin-bottom: 50px;
  color: aliceblue;
}

.nav-link{
  position: relative;
  right: 0;
  text-align: right;
  float: right;
  color: white;
  text-decoration: none;
}

.main-nav .title{
  flex-grow: 1;
}

.paper{
  width: 30%;
  max-width: 500px;
  padding: 20px;
  margin:0 auto;
}
